<app-data-binding></app-data-binding>
<app-structure-directives></app-structure-directives>
<app-profile-card
  image="https://randomuser.me/api/portraits/men/1.jpg"
  name="Anuj Dubey"
  description="Student"
  profileLink="#"
  backgroundColor="#0000FF">
</app-profile-card>
<app-profile-card
    image="https://randomuser.me/api/portraits/men/5.jpg"
    name="Tanuj Dubey"
    description="Student"
    profileLink="#"
    backgroundColor="#0000FF">
  </app-profile-card>
<router-outlet></router-outlet>